body {
    font-family: 'Montserrat', sans-serif;
    background-color:#5f5e5e;
}

header {
    background-color: #383838;
    padding: 20px 0;

}

main {

    text-align: center;
}

.caixa {
    position:relative;
    width:940px;
    margin: 0 auto;

}

.picture {
    position:relative;
    display: inline-block;
    top: 10px;
    left: 5px;
    width: 200px;
    border-radius:10%;
    border: 4px dotted rgb(188, 216, 241);

}

.picture:hover {

    width: 210px;
    border-color:rgb(255, 0, 34)
}

.picture:active {

    width: 210px;
    border-color:rgb(9, 255, 0)

}

nav {

    position:absolute;
    top: 120px;
    right: 0;

}

nav li {
    display:inline-block;
    text-align: right;
    color:rgb(188, 216, 241);


}

nav a {

    text-transform: uppercase;
    color: rgb(188, 216, 241);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    padding:20px;
    line-height: 20px;
    font-weight: 700px;
}

nav ul {

    list-style:disc;

}

nav a:hover {

    color:rgb(255, 0, 34);
    text-decoration: underline;
    font-size:24px;

}

.linkssociais {
    position:absolute;
    right:20px;
    bottom:0;
}


.linkssociais li {

    display:inline-block;
    margin-left: 20px;


}

.linkssociais a {
    font-size:13px;
    color:aliceblue;
    display:block;
    width:60px;
    text-align:center;
    text-decoration: none;
}

.linkssociais img {

    width: 100%;

}

.instagram:hover {

    width: 62px;
    font-size: 15px;
    text-decoration: underline;

}

.linkedin:hover {

    width: 62px;
    font-size: 15px;
    text-decoration: underline; 
}

.github:hover {

    width: 62px;
    font-size: 15px;
    text-decoration: underline; 
}

.gmail:hover {

    width: 62px;
    font-size: 15px;
    text-decoration: underline; 
}

.apresentacao {
    font-size: 50px;
    color: rgb(188, 216, 241);
    text-align: center;
    padding:20px;
    border: #faf7f7;
    margin-top: 30px;
    font-weight: 800;
    

}

.conteudo a {

    text-transform: uppercase;
    color: rgb(188, 216, 241);
    text-decoration: none;
    font-size:16px;
    line-height:20px;
    font-weight: 700;
    text-align: center;
}



h2 {
    font-weight:bold;
    font-size: 30px;
    color:rgb(188, 216, 241);

}

h3 {

    font-weight:bold;
    font-size: 25px;
    color:rgb(188, 216, 241);

}


.conteudo {

    margin: 60px 0;

}


.sobremimp {

    line-height: 22px;
    margin: 15px 0 0 15px;
    color:rgb(188, 216, 241);
}

.sobremim {

    color:rgb(188, 216, 241);
    
}

.sobremim:hover {
    color:rgb(255, 0, 34);
    text-decoration: none;
    font-size:32px;

}

.habilidadesdestaque {

    font-weight: 700;

}

.habilidadesh2:hover {
    color:rgb(255, 0, 34);
    text-decoration: none;
    font-size:32px;

}

.habilidadessocias {

    margin-top: 20px;

}

.listas {

    color:rgb(188, 216, 241);
    list-style: disc;
    display:inline-block;
}



.canal_preferido {

    color:rgb(188, 216, 241);
    font-weight: bold;

}

.canal_preferidop {

    color:rgb(188, 216, 241);

}

.canal_preferido:hover {
    color:rgb(255, 0, 34);
    text-decoration: none;
    font-size: 32px;

}

.button {
    display:inline-block;
    font-size: 20px;
    line-height: 20px;
    text-decoration:none;
    font-weight: bold;
    background-color: #383838 ;
    border-radius: 8px;
    padding: 15px 30px;


}

.button:hover {

    background-color: #030303;
    text-decoration: underline;
    font-size: 22px;
}

.button:hover img {

    width: 34px;

}

.textobutton {
    display:block;
    float:left;
    padding-top:6px;
    

}

.canal_preferidodiv {

    padding: 60px 0;
}

.canal_preferidodiv img {
    display:block;
    width: 32px;
    margin-right: 15px;
    float: left;

}



footer {
    text-align:center;
    background-color: #383838;
    padding: 60px 0;

}

.copyright {

    color: white;
    font-size: 13px;
    margin: 20px 0 0;

}
