body {
    font-family: Montserrat, sans-serif;
    background-color:#5f5e5e;
}

header {
    background-color: #383838;
    padding: 20px 0;

}

main {

    text-align: center;
}

.caixa {
    position:relative;
    width:940px;
    margin: 0 auto;

}

.picture {
    position:relative;
    display: inline-block;
    top: 10px;
    left: 5px;
    width: 200px;
    border-radius:10%;
    border: 4px dotted rgb(188, 216, 241);

}

.picture:hover {

    width: 210px;
    border-color:rgb(255, 0, 34)
}

.picture:active {

    width: 210px;
    border-color:rgb(9, 255, 0)

}

nav {

    position:absolute;
    top: 120px;
    right: 0;

}

nav li {
    display:inline;
    text-align: right;
    color:rgb(188, 216, 241);
    margin: 0 0 0 15px;
    padding: 0 5 px;

}

nav a {

    text-transform: uppercase;
    color: rgb(188, 216, 241);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    padding:20px;
    line-height: 20px;
    font-weight: 700px;
}

nav a:hover {

    color:rgb(255, 0, 34);
    text-decoration: underline;
    font-size:24px;

}

.apresentacao {
    font-family:monospace;
    font-size: 50px;
    color: rgb(188, 216, 241);
    text-align: center;
    font-weight: bold;
    padding:20px;
    border: #faf7f7;
    margin-top: 30px

}

.conteudo a {

    text-transform: uppercase;
    color: rgb(188, 216, 241);
    text-decoration: none;
    font-size:16px;
    line-height:20px;
    font-weight: 700;
    text-align: center;
}



h2 {
    font-weight:bold;
    font-size: 30px;
    color:rgb(188, 216, 241);

}


.conteudo {

    padding:60px 0;

}


.sobremimp {

    display: inline;
    font-weight: bolder;
    line-height: 22px;
    font-weight: 300px;
    margin: 15px 0 0 15px;
    color:rgb(188, 216, 241);


    
}

.sobremim {

    color:rgb(188, 216, 241);
    
}

.sobremim:hover {
    color:rgb(255, 0, 34);
    text-decoration: none;
    font-size:32px;

}

.habilidades {

    padding: 60px 0;

}

.habilidadesdestaque {

    font-weight: 700;

}

.habilidadesh2:hover {
    color:rgb(255, 0, 34);
    text-decoration: none;
    font-size:32px;

}

.listas {

    color:rgb(188, 216, 241);
    font-weight: bolder;
}



.canal_preferido {

    color:rgb(188, 216, 241);
    font-weight: bold;

}

.canal_preferidop {

    color:rgb(188, 216, 241);
    font-weight: bold;

}

.canal_preferido:hover {
    color:rgb(255, 0, 34);
    text-decoration: unone;
    font-size: 32px;

}

.button {
    font-size: 20px;
    text-decoration:none;
    font-weight: bold;
    background-color: #383838 ;
    border-radius: 4px;
    padding: 15px 30px;


}

.button:hover {

    background-color: #030303;
    text-decoration: underline;
    font-size: 22px

}

.canal_preferidodiv {

    padding: 60px 0;
}

footer {
    text-align:center;
    background-color: #383838;
    padding: 60px 0;

}

.copyright {

    color: white;
    font-size: 13px;
    margin: 20px 0 0;

}
